.desc1.span_3_of_2 {
    display: grid;
}

h4.item_name {
    background: #717171;
    color: white;
}

.item-list ul li {
    list-style-type: none;
}

span.custom_price {
}

a.btn.btn-primary {
    background: blue;
    color: white;
    padding: 10px;
    width: 80px;
    margin-bottom: 15px;
    border-radius: 100px;
}

.left-n {
    display: grid;
}

span.pric1 {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 700;
}